/* font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* colors */
:root {
    /* Primary */

    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: rgba(0, 0, 0, 0.750);
    /* (with 75% opacity for lightbox background) */
}

body {
    position: relative;
    min-height: 90vh;
    margin: 2em 22em;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* horizontal line */
hr {
    margin-top: 2.1em;
    border: 1px solid var(--grayish-blue);
}

/* NAVBAR CUSTOMIZATION */
.navbar-toggler {
    order: -1;
}

.navbar-collapse {
    width: 300px;
    height: 20px;
}

/* margin from brand logo */
.navbar-nav {
    margin-left: 3em;
}

/* navbar links margin */
.nav-item {
    margin-left: 1.2em;
}

.nav-link {
    color: var(--dark-grayish-blue);
    letter-spacing: 0.5px;
}

.nav-link:hover {
    color: var(--very-dark-blue);
}

/* navbar togler icon */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: 0;
    outline: none;
    box-shadow: none;

}

.navbar-toggler span {
    margin: none;
    padding: none;
}

.navbar-toggler-icon {
    background-image: url('../images/icon-menu.svg');
    background-size: 80%;
    border: none;
}

/* navbar brand */
.navbar-brand {
    margin-left: 0.5em;
}

/* no collapse items positioning */

/* user and cart buttons */
.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    border: none;
    cursor: pointer;
}

/* user icon */
#user-btn {
    background-image: url('../images/image-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;

}

#user-btn:hover {
    border: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: var(--orange);
}

/* cart icon */
#cart-btn {
    background-image: url('../images/icon-cart.svg');
    background-position: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    margin-right: 5.5em;
}

#cart-btn:hover {
    filter: brightness(0%);
}

/* SIDEBAR  */

#close-btn {
    width: 28px;
    height: 30px;
    position: relative;
    top: 4em;
    left: 4em;
    background-image: url('../images/icon-close.svg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 10000;
}

/* --------------------------------- */
/* --------------MAIN--------------- */
/* --------------------------------- */
main {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

#main-content {
    margin: 5em 3em;
    height: 65vh;
    max-height: 60em;
    display: flex;
    justify-content: space-between;
    gap: 6em;
}

/* LEFT SECTION */
.left-section {
    width: 50%;
    display: flex;
    align-items: center;
}

/* main img */
.big-img {
    width: 100%;
    max-width: 30em;
    border-radius: 20px;
}

/* minatures */
.img-minatures-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    max-width: 30em;
}

/* parent for creating border */
.minature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    border-radius: 13px;
    overflow: hidden;
    cursor: pointer;
}

.orange-border {
    border: 3px solid transparent;
}

/* size and minature opacity changing */
.minature-img {
    width: 100%;
}

.minature-img:hover {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.transparency {
    opacity: 0.4;
}

/* RIGHT SECTION */

.right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#orange-header {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--orange);
}

#product-name {
    margin-top: 0.4em;
    font-size: 3em;
    font-weight: 700;
    color: var(--very-dark-blue);
}

#product-description {
    margin-top: 2.3em;
    color: var(--dark-grayish-blue);
}

/* PRICE SECTION */
.price-section {
    display: flex;
    align-items: center;
    margin-top: 2em;
    width: 170px;
    flex-wrap: wrap;
}

#price {
    margin: 0;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin-right: 0.8em;
}

#discount {
    margin: 0;
    padding: 1px 10px;
    border-radius: 8px;
    background-color: var(--pale-orange);
    font-weight: 700;
    color: var(--orange);
}

#discount-price {
    margin-top: 0.8em;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--grayish-blue);
}

/* BUTTONS SECTION */

#btn-section {
    display: flex;
    margin-top: 2.5em;
    gap: 1.5em;
    height: 55px;
}

.counter-btn {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--light-grayish-blue);
    border-radius: 12px;
}

.counter-group {
    background-repeat: no-repeat;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 20px 26px;
    border: none;
    background-position: 50%;
}

.plus-minus:hover {
    opacity: 0.6;
}

#minus {
    background-image: url('../images/icon-minus.svg');
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: inherit;
}


#plus {
    background-image: url('../images/icon-plus.svg');
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: inherit;
}

#counter {
    height: 55px;
    font-weight: 700;
    color: var(--very-dark-blue);
}

/* to cart button */

#to-cart-btn {
    width: 100%;
    height: 55px;
    border: none;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    border-radius: 12px;
    -webkit-box-shadow: 0px 21px 13px 0px var(--pale-orange);
    -moz-box-shadow: 0px 21px 13px 0px var(--pale-orange);
    box-shadow: 0px 21px 13px 0px var(--pale-orange);
}

#to-cart-btn:hover {
    background-color: var(--orange);
    opacity: 0.8;
}


.to-cart-content {
    filter: brightness(0) invert(1);
}


/* LINKS ANIMATION */
@media(min-width:767px) {

    /* Links animation */
    .nav-link {
        transition: all 0.2s;
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: #fff;
        text-decoration-thickness: 8px;
    }

    .nav-link:hover {
        top: 2em;
        text-decoration: underline;
        text-underline-offset: 3em;
        text-decoration-color: var(--orange);
        text-decoration-thickness: 4px;
    }

}

@media(max-width:1600px) {
    body {
        margin: 2em 16em;
    }

    main {
        margin-top: 5em;
    }

    #main-content {
        margin: 0em 7%;
        gap: 4em;
    }

    .right-content {
        scale: 0.92
    }
}

@media(max-width:1500px) {
    body {
        margin: 2em 9em;
    }

    .navbar,
    hr {
        scale: 0.95;
        margin-top: 2em;
    }

    hr {
        margin-top: 2em;
    }

    .right-content {
        scale: 0.91;
    }

    #main-content {
        gap: 3em;
    }
}


@media(max-width:1400px) {
    body {
        margin: 2em 7em;
    }

    .navbar,
    hr {
        scale: 0.9;

    }

    hr {
        margin-top: 1.75em;
    }

    .right-content {
        scale: 0.88;
    }

    #main-content {
        gap: 2.5em;
    }
}

@media(max-width:1200px) {
    body {
        margin: 2em 0em;
    }

    .navbar,
    hr {
        scale: 0.8;
        width: 104%
    }

    hr {
        margin-top: 1.45em;
    }

    #cart-btn {
        margin-right: 4.5em;
    }

    #main-content {
        margin: 0em 10%;
    }

    .right-content {
        scale: 0.84;
    }
}

@media(max-width:950px) {
    .counter-group {

        padding: 20px 22px;

    }
}

@media(max-width:767px) {
    hr {
        display: none;
    }

    body {
        margin: 0;
        width: 100vw;
    }

    .navbar-brand {
        scale: 1.3;
        margin-left: 1.5em;
    }

    #cart-btn {
        scale: 1.3;
    }

    .navbar-toggler-icon {
        margin-left: -2em;
    }

    /* overlay effect customization  */
    .navbar-nav {
        position: absolute;
        top: 0em;
        left: -300px;
        /* Start with the sidebar hidden */
        margin: -3.5em -5em;
        width: 90vw;
        height: 125.7vh;
        background-color: #fff;
        z-index: 1000;
    }

    .navbar-nav-slide {
        left: -15px;
        transition: left 0.2s ease-in;
    }

    .overlay {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }

    .navbar {
        z-index: 3;
    }

    .no-collapse-item {
        position: absolute;
        right: 0em;
        top: 0em;
    }

    .top-item {
        margin-top: 7em;
    }

    .nav-item {
        margin-left: 5em;
    }

    .nav-link {
        font-size: 1.5em;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.900);
    }

    #main-content {
        margin: 0;
    }

    #main-content {
        flex-wrap: wrap;
        margin: 0 1.5em;
        justify-content: center;
    }

    .left-section,
    .right-section {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .left-content,
    .right-content {
        width: 100vw;
    }

    .left-content {
        display: flex;
        justify-content: center;
    }

    .left-section {
        justify-content: center;
    }

    .right-section {}

    .big-img {
        width: 100vw;
        border-radius: 0;
        margin: -3.2em 0em;
        aspect-ratio: 12/9;
        object-fit: cover;
        max-width: 100em;
    }

    .price-section {
        margin-top: 0;
        width: 100%;
        flex-wrap: nowrap;
    }

    #product-name {
        font-size: 2.5em;
    }

    #product-description {
        margin-top: 1em;
        font-size: 18px;
    }

    #price {
        font-size: 2em;
    }

    #discount {
        font-size: 1.3em;
    }

    #discount-price {
        margin-left: auto;
        font-size: 1.2em;
    }
}